@import url("game.css");
@import url("winner.css");

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Krona One', sans-serif;
    background:
    radial-gradient(white 15%, transparent 16%) 0 0,
    radial-gradient(white 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #f7f7f7;
    background-size: 16px 16px;
}

#menu-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#play-button {
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.game-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}